body,html{
    height:100%;
    padding:0px;
    margin:0px;
    background: black;
    background-image: url(../img/background_stars.png);
    background-image: url(../img/background_stars.png), linear-gradient(black,  black, #00004d);
}

.col-sm-4{
    margin:0px;
    padding: 0px;
}

.row{
    margin:0px;
    padding-top:45px;
}

.list-group{
    margin:0;
}

.list-group-item{
    padding:5px;
    background-color: black;
    color:lime;
    font-weight: bold;
    max-width: 300px;
    margin:auto;
    border-color: #787878;
}

.navbar-nav > li > a ,.navbar-brand{padding-top:10px !important; padding-bottom:10px !important;}
.navbar-brand{padding-top: 10px !important;padding-bottom: 10px !important;height:40px}
.navbar {min-height:40px}
.navbar-toggle{
    margin-top: 5px;margin-bottom: 5px;height:30px;width: 30px;padding: 3px 4px;
}
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand{
    font-weight: bold;
    color:dodgerblue !important;
}
.navbar-inverse .navbar-nav>li>a:hover,.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-brand:hover,.navbar-inverse .navbar-brand:focus{
    color:deepskyblue !important;
}

.d{background-color:pink;height:7%;width:100%;position:fixed;bottom:0px;}

#nave{text-align:center;position:fixed;top:23%;width:100%;height:20%;z-index:1;}
#naveimg{height:100%}
#earth{
    display: block;
    margin:auto;

}

.panel-modal{
    display:none;
    z-index: 2048;
}

.panel-default {
    border-color: #787878;
    text-align: center;
}

.panel-heading{
    background: linear-gradient(#595959, #a3a3a3);
    border-color: #787878;
}

.panel-body,.modal-body{
    background-image: url(../img/background_metal.png);
    background-color: #595959;
}

.panel-footer,.modal-footer{
    background: linear-gradient(#a3a3a3,#595959);
    border-color: #787878;
}

.btn-panel{
    background: linear-gradient(dodgerblue, deepskyblue);
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: bold;
    padding: 14px;
    text-transform: uppercase;
    border-color: #59B2E6;
}

.btn-panel:hover,.btn-panel:focus{
    color: #fff;
    background: linear-gradient(#0080ff, #0099cc);
}

.btn-return,#cancelConfig {
    background: linear-gradient(red,darkred);
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: bold;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: salmon;
    width:100%;

}
.btn-return:hover,
.btn-return:focus,#cancelConfig:hover,#cancelConfig:focus {
    color: #fff;
    background: linear-gradient(#990000, #660000);
}
.btn-return{
        max-width: 250px;
}

.well{
    background:linear-gradient(black,  black, #00004d);
    border-color: #787878;
}
.well>p{
    color:deepskyblue;
    font-weight: bold;
}

.panel-heading>h2,h3{
    background:linear-gradient(#e600e6,#800080);
    font-weight: bold;
    text-align: center;
    color: gold;
    border: 5px #b300b3 outset;
    border-radius: 7px;
    margin:0;
    min-width: 200px; 
    padding: 3px 0;
}

h3{
    max-width: 300px;
    margin:auto;
    margin-bottom: 5px;
    margin-top: 25px;
}

.btn-active,.btn-active:hover,.btn-active:focus{
     background:linear-gradient(mediumblue,darkblue);
     color:orangered;
}

#chooseOption{
    margin-bottom: 10px;
    width:100%;
    background: linear-gradient(limegreen,green);
    border-color: mediumseagreen;
}

#chooseOption:hover,
#chooseOption:focus {
	color: #fff;
	background: linear-gradient(#28a428, #004d00);

}

#selOptions{
    background: linear-gradient(  black, #00004d);
    border-color: #787878;
    color:lime;
    font-weight: bold;
    min-width: 400px;
}
option{
    background-color: black;
}

#alertModal{
    z-index: 3000;
}

#pModal{
    color:deepskyblue;
    font-size: 17px;
    background-color: black;
    padding: 1px 5px;
    border: 1px solid #787878;
    border-radius: 4px;
}

#pModal{
    font-weight: bold;
}

.modal-content{
    border-color: #787878;
    border-radius: 4px;
}

#okModal,#saveConfig{
    background: linear-gradient(limegreen,green);
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: bold;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: mediumseagreen;
}

#okModal:hover,
#okModal:focus,#saveConfig:hover,#saveConfig:focus {
	color: #fff;
	background: linear-gradient(#28a428, #004d00);
}

/*CSS desktop*/
@media screen and (min-width: 769px){    
    .movil{
        display:none !important;
    }
    .row{
        height:100%;
    }
    .col-sm-4{
        height: 100%;
    }
    .navbar {height:40px}
    .panel-modal{
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #info_Panel_Control{
        max-width: 400px;
    }
    #earth{
        margin-right:20%;
        margin-top:20%;

    }

}
/*CSS mobile*/
@media screen and (max-width: 768px){
    .pc{
        display:none !important;
    }
    .col-sm-4{
        height: auto;
        z-index:5;
    }

    .glyphicon-repeat,.glyphicon-play,.glyphicon-pause,.glyphicon-cog{
        color: dodgerblue;
    }
    #myNavbar{
        text-align: center;
        font-size: 20px;
    }
    #info_Panel{
        padding:5px 10px;
    }
    .panel-modal{
        width:100%;
        min-height: 100%;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #earth{
        margin-left: 45%;
        margin-top: 30%;

    }
    
    button[disabled]{
        background-color: #404040;
    }
    
    button[disabled]>.glyphicon{
        color:royalblue;
    }

}